<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<% @all_users.each do |user| %>
<%= link_to user_path(user) do %>
  <div class="user">
    <div class="photo"><% if user.photo.present? %>
      <%= image_tag user.photo, size: "100x100" %>
    <% else %>
    <%= image_tag "https://unsplash.com/photos/F_-0BxGuVvo", size: "100x100" %>
    <% end %>
    </div>
    <div class="user-details">
    <h3><%= user.name %></h3>
    <p class="user-posts">Number of Posts: <%= user.posts.count %></p>
    </div>
  </div>
  <% end %>
<% end %>
