<div class="user">
  <!-- Your user details display here -->
  <div class="photo">
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, size: "100x100" %>
    <% else %>
    <%= image_tag "https://unsplash.com/photos/F_-0BxGuVvo", size: "100x100" %>
    <% end %>
  </div>
  <div class="user-details">
    <h3><%= @user.name %></h3>
    <p class="user-posts">Number of Posts: <%= @user.posts.count %></p>
  </div>
</div>

<div class="bio-posts">
  <!-- Display all user posts here -->
  <% @posts.each do |post| %>
    <div class="recent-posts">
      <%= link_to user_post_path(@user, post) do %>
        <p><%= post.text %></p>
        <p class="counters">comments: <%= post.comments_counter %>, <span>Likes: <%= post.likes_counter %></span></p>
        <% if post.display_comments.any? %>
          <h3 class="comments-heading">Comments:</h3>
          <ul class="comments-list">
            <% post.display_comments.each do |comment| %>
              <li><%= comment.user.name %>: <%= comment.text %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>

      <div class='like'>
        <%= button_to 'Like Post', user_post_like_path(post.user, post), method: :post, class: "like" %>
      </div>

      <div class="create-comment-btn">
        <%= link_to 'Create Comment', new_user_post_comment_path(@user, post) %>
      </div>
    </div>
  <% end %>
</div>

<br> <br>
<div class="pagination-links">
  <%= will_paginate @posts %>
</div>
